.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 22%);
  justify-content: center;
  column-gap: 1.5rem;
  background-color: #e3e6e6;
}
.card {
  background-color: #ffffff;
  font-weight: 600;
}
.card-title {
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 0.5rem;
  justify-items: center;
  justify-content: center;
}
.item-img {
  width: 10rem;
}
.item-name {
  font-size: 0.8rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
.card-btn {
  color: aqua;
  border: none;
  margin: 1.5rem 0.5rem;
  cursor: pointer;
  background-color: #ffffff;
}
.card-btn:hover {
  color: tomato;
  text-decoration: underline;
}
